input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

button {
  margin-right: 10px;
}

mat-form-field {
  margin-top: 15px !important;
}

mat-form-field:not(:last-child) {
  margin-right: 10px;
}

mat-divider {
  margin-bottom: 15px;
}

.icon-button {
  margin: 15px 0 0 0;
}

.img-fluid {
  max-width: 100%;
}

.container {
  padding-bottom: 20px;
}
