<div class="pb-4">
  <div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-row gap-2">
        <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">
          Save
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <mat-form-field class="flex flex-row w-full mt-2 mb-1">
        <input matInput type="text" id="name" name="name" formControlName="name" placeholder="Recipe name" />
        <mat-icon class="text-zinc-400" matSuffix>restaurant_menu</mat-icon>
        </mat-form-field>
      <mat-form-field class="flex flex-row w-full mt-1 mb-2">
        <ngx-mat-file-input placeholder="Images" formControlName="images" [accept]="'image/*'" [multiple]="true"
          onChange="onSelectImage(upload)" #uplaod />
        <mat-icon class="text-zinc-400" matSuffix>folder</mat-icon>
      </mat-form-field>
      <div *ngFor="let image of imagesControls">
        <img [src]="image.value" alt="" />
      </div>
      <mat-form-field class="flex flex-row w-full mt-1 mb-2">
        <textarea placeholder="Description" matInput type="text" id="description" rows="4"
          formControlName="description"></textarea>
        <mat-icon class="text-zinc-400" matSuffix>receipt</mat-icon>
        </mat-form-field>
      <div class="flex flex-col h-full">
        <div formArrayName="ingredients">
          <div *ngFor="let ingredients of ingredientsControls; let i = index" [formGroupName]="i" class="flex flex-row w-full">
            <mat-form-field appearance="fill" class="w-[80%] mt-1 mb-1">
              <input matInput type="text" placeholder="Ingredient name" formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-[20%] mt-1 mb-1">
              <input matInput type="text" placeholder="Amount" formControlName="amount" />
            </mat-form-field>
            <button mat-icon-button color="accent" type="button" class="mt-3" (click)="onDeleteIngredient(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
          <div class="flex flex-row gap-2">
            <button mat-raised-button color="accent" type="button" (click)="onAddIngredient()">
              Add Ingredient
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
