<div class="pb-4">
  <div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-row gap-2">
        <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">
          Save
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <mat-form-field class="flex flex-row w-full mt-2 mb-1">
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" id="name" name="name" formControlName="name" />
        </mat-form-field>
      <mat-form-field class="flex flex-row w-full mt-1 mb-1">
        <mat-label for="imagePath">Image URL</mat-label>
        <input matInput type="text" id="imagePath" name="imagePath" formControlName="imagePath" #imagePath />
        </mat-form-field>
      <div>
        <img [src]="imagePath.value" alt="" />
      </div>
      <mat-form-field class="flex flex-row w-full mt-1 mb-2">
        <mat-label for="description">Description</mat-label>
        <textarea matInput type="text" id="description" rows="4" formControlName="description"></textarea>
        </mat-form-field>
      <div class="flex flex-col h-full">
        <div formArrayName="ingredients">
          <div *ngFor="let ingredients of controls; let i = index" [formGroupName]="i" class="flex flex-row gap-2 w-full">
            <mat-form-field class="w-[80%] mt-1 mb-1">
              <input matInput type="text" placeholder="Ingredient name" formControlName="name" />
            </mat-form-field>
            <mat-form-field class="w-[20%] mt-1 mb-1">
              <input matInput type="text" placeholder="Ingredient amount" formControlName="amount" />
            </mat-form-field>
            <button mat-icon-button color="warn" type="button" class="mt-3" (click)="onDeleteIngredient(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <mat-divider class="flex grow mb-3"></mat-divider>
          </div>
          <div>
            <button mat-raised-button color="accent" type="button" (click)="onAddIngredient()">
              Add Ingredient
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
