<mat-toolbar color="primary">
  <div
  class="flex flex-row place-content-start lg:place-content-center items-center justify-items-stretch w-full"
  >
    <div
      class="sm:hidden"
      *ngIf="user"
    >
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div

      class="w-1/9 sm:w-[10%] mr-4"
    >
      <a routerLink="/">
        <img
        title="logo"
          src="../../../assets/logo/brand-logo-mono-black.png"
          class="sm:max-w-[70px] max-w-[60px]"
        />
      </a>
    </div>
    <div class="hidden sm:flex flex-row grow 2xl:content-center 2xl:justify-center max-w-[80%]"
    >
      <ul class="flex gap-4 list-none text-xl">
        <li *ngIf="user">
          <a routerLink="/recipes" routerLinkActive="active">My Recipes</a>
        </li>
        <li *ngIf="user">
          <a routerLink="/shopping-list" routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>
    </div>
    <div
    class="hidden sm:flex flex-row grow content-center justify-end max-w-[10%]"
      *ngIf="user"
    >
    <button mat-basic-button [matMenuTriggerFor]="menu">
      <img [src]="user.profile.avatarUrl ? user.profile.avatarUrl : '../../../assets/icons/user-avatar.svg'" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="$event.stopPropagation()">
          <app-theme-switch></app-theme-switch>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
