mat-toolbar {
  border-radius: 0px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.navbar-brand {
  margin: 0 15px 0 0;
}

.navbar-brand a,
a:active {
  color: white;
  text-decoration: none;
}

.brand-logo {
  margin-top: 10px;
  max-width: 70px;
}

@media (max-width: 599px) {
  .brand-logo {
    margin-top: 10px;
    max-width: 60px;
  }
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-items a {
  text-decoration: none;
  color: white;
}
.navigation-items a:hover,
.navigation-items a:active {
  color: lightgray;
}
