<ng-template appPlaceholder></ng-template>
<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
  <div *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex.lt-md="80"
    fxFlex.md="40"
    fxFlex.lg="30"
    fxFlex.gt-lg="20"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    *ngIf="(isLoading$ | async) === false"
  >
    <mat-form-field fxFlexFill *ngIf="authMode !== 'resetPassword'">
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        ngModel
        name="email"
        required
        email
      />
    </mat-form-field>
    <mat-form-field fxFlexFill *ngIf="authMode !== 'accountRecovery'">
      <mat-label for="password">{{
        authMode === "resetPassword" ? "New password" : "Password"
      }}</mat-label>
      <input
        matInput
        type="password"
        id="password"
        ngModel
        name="password"
        required
        minlength="6"
        #passwordControl="ngModel"
      />
    </mat-form-field>
    <mat-form-field
      fxFlexFill
      *ngIf="authMode === 'signup' || authMode === 'resetPassword'"
    >
      <mat-label for="confirmPassword">Confirm password</mat-label>
      <input
        matInput
        type="password"
        id="confirmPassword"
        ngModel
        name="confirmPassword"
        [appMustMatch]="passwordControl?.control"
        required
        minlength="6"
      />
    </mat-form-field>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill
      style="gap: 10px"
    >
      <button
        fxFlexFill
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{
          authMode === "login"
            ? "Login"
            : authMode === "resetPassword"
            ? "Reset password"
            : authMode === "accountRecovery"
            ? "Send password recovery email"
            : "Sign up"
        }}
      </button>

      <button
        fxFlexFill
        mat-stroked-button
        color="accent"
        type="button"
        (click)="onSwitchMode(authMode === 'login' ? 'signup' : 'login')"
      >
        {{ authMode === "login" ? "Create an Account" : "Go to Login" }}
      </button>

      <button
        fxFlexFill
        mat-button
        color="accent"
        type="button"
        (click)="onSwitchMode('accountRecovery')"
        *ngIf="authMode !== 'accountRecovery'"
      >
        Forgot password ?
      </button>
    </div>
  </form>
</div>
