<div class="pb-5">
  <div>
    <div>
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div>
    <div class="mb-3">
      <img [src]="recipe?.images?.[0]?.url" alt="" />
    </div>
  </div>
  <div>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        [matMenuTriggerFor]="recipeMenu"
      >
        Manage Recipe <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #recipeMenu="matMenu">
        <button mat-menu-item (click)="onAddToShoppingList()">
          <span>Add to Shopping List</span>
        </button>
        <button mat-menu-item (click)="onEditRecipe()">
          <span>Edit Recipe</span>
        </button>
        <button mat-menu-item (click)="onDeleteRecipe()">
          <span>Delete Recipe</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <br />
  <div>
    <div>
      <p>{{ recipe.description }}</p>
    </div>
  </div>
  <br />
  <div>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
