<div fxLayout="row">
  <div fxLayout="column" fxFlex="80" fxFlex.lt-md="100">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div fxLayout="row">
  <div fxLayout="column" fxFlexFill class="img-canvas">
    <img [src]="recipe.imagePath" alt="" [ngClass.gt-sm]="'img-fluid'" />
  </div>
</div>
<div fxLayout="row">
  <div fxLayout="column">
    <div class="dropdown" appDropdown>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="dropdown-toggle"
      >
        Manage Recipe <mat-icon>expand_more</mat-icon>
      </button>
      <mat-action-list class="dropdown-content">
        <button mat-list-item (click)="onAddToShoppingList()">
          To Shopping List
        </button>
        <button mat-list-item (click)="onEditRecipe()">Edit Recipe</button>
        <button mat-list-item (click)="onDeleteRecipe()">Delete Recipe</button>
      </mat-action-list>
    </div>
  </div>
</div>
<br />
<div fxLayout="row">
  <div fxLayout="column" fxFlex="80" fxFlex.lt-md="100">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<br />
<div fxLayout="row">
  <div fxLayout="column" fxFlex="80" fxFlex.lt-md="100">
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
