<mat-nav-list class="flex flex-col list-none justify-items-stretch h-full">
  <mat-list-item class="justify-start" routerLink="/recipes" (click)="onSidenavClose()" routerLinkActive="active">
    <span class="flex flex-row items-center">
      <mat-icon>restaurant_menu</mat-icon>
      <span class="nav-caption">Recipes</span>
    </span>
  </mat-list-item>
  <mat-list-item class="justify-end" routerLink="/my-recipes" (click)="onSidenavClose()" routerLinkActive="active">
    <span class="flex flex-row items-center">
      <mat-icon>menu_book</mat-icon>
      <span>My Recipes</span>
    </span>
  </mat-list-item>
  <mat-list-item class="justify-end" disabled="true">
    <span class="flex flex-row items-center">
      <mat-icon>pin_drop</mat-icon>
      <span>My Adresses</span>
    </span>
  </mat-list-item>
  <mat-list-item class="justify-end" disabled="true">
    <span class="flex flex-row items-center">
      <mat-icon>history_edu</mat-icon>
      <span>My Orders</span>
    </span>
  </mat-list-item>
  <mat-divider class="py-1 justify-end"></mat-divider>
  <mat-list-item class="px-1 justify-end place-self-center place-content-center">
    <app-theme-switch></app-theme-switch>
  </mat-list-item>
  <mat-list-item class="justify-end" (click)="onLogout(); onSidenavClose()">
    <span class="flex flex-row items-center">
      <mat-icon>logout</mat-icon>
      <span class="nav-caption">Logout</span>
    </span>
  </mat-list-item>
</mat-nav-list>
