.mat-mdc-selection-list {
  position: relative;
  height: 70%;
  overflow-y: scroll;
  background:
    // Shadow covers
    linear-gradient(var(--background) 30%, var(--background)),
    linear-gradient(var(--background), var(--background) 70%) 0 100%,
    // Shadows
    radial-gradient(
        farthest-side at 1% 0,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
      ),
    radial-gradient(
        farthest-side at 1% 100%,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: 100% 10px, 100% 10px, 200% 5px, 200% 5px;
  background-attachment: local, local, scroll, scroll;
}

@media (hover: hover) and (pointer: fine) {
  .mat-mdc-selection-list {
    overflow-y: hidden;
  }
  .mat-mdc-selection-list:hover {
    overflow-y: scroll;
  }
}

.edit-container {
  position: relative;
  height: 20%;
  min-height: 180px;
}

.container {
  position: relative;
  height: 100%;
}
