<div class="flex flex-row gap-3 items-center place-content-center h-full">
  <div class="flex flex-col relative h-full w-[90%] md:w-[80%] lg:w-[60%]">
    <p class="mb-4 text-2xl font-bold">Shopping list</p>
    <div>
      <mat-accordion multi="true" class="h-full">
        <mat-expansion-panel *ngFor="let recipe of (shoppingList$ | async)?.recipes; let rIndex = index">
          <mat-expansion-panel-header class="my-2">
            <mat-panel-title class="justify-between" (click)="onRecipeClick(rIndex)">
              <span class="text-xs sm:text-base font-semibold">{{

                recipe.recipeName }}</span>
              <span class="accent text-xs sm:text-base font-semibold">{{recipe.ingredients.length}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item
              *ngFor="let ingredient of (shoppingList$ | async)?.recipes[rIndex].ingredients; let iIndex = index"
              class="justify-between" (click)="onIngredientClick(iIndex)">
              <span>{{ingredient.name}}</span>
              <span class="accent text-xs sm:text-base font-semibold ml-4">{{ingredient.amount}}</span>
              </mat-list-item>
              </mat-list>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="flex flex-row gap-2 mt-4">
      <button mat-raised-button color="primary" class="text-sm sm:text-base" disabled>Order on freshful</button>
      <button mat-raised-button color="primary" class="text-sm sm:text-base" disabled>Order on sezamo</button>
      <button mat-raised-button color="primary" class="text-sm sm:text-base" disabled>Order on glovo</button>
    </div>
  </div>
</div>
