<div class="flex flex-col md:flex-row gap-3 mx-6 mb-6 justify-center content-start md:content-center">
  <div class="max-w-[640px] w-[100%] md:w-[37%] md:flex" [ngClass]="{'hidden': hideList}">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="flex flex-row w-[6%] md:hidden content-center" [ngClass]="{'hidden': hideBackBtn || !hideList }"
    routerLink="..">
    <button type="button" class="flex flex-row items-center gap-2 p-0">
      <mat-icon color="accent">arrow_back</mat-icon>
      <span class="text-lime-300">Back</span>
    </button>
  </div>
  <div class="max-w-[960px] w-[94%] md:w-[57%]" [ngClass]="{'hidden': !hideList }">
    <router-outlet></router-outlet>
  </div>
</div>
