a {
  text-decoration: none;
}

mat-card {
  height: 150px;
}

mat-card-content {
  height: 120px;
  overflow: hidden;
}

.mat-card-image {
  margin-left: auto;
  margin-right: 0;
  height: 90%;
  max-width: 30%;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 0 !important;
}

:host ::ng-deep .truncate * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
