<a [routerLink]="[recipe.id]" routerLinkActive="active">
  <mat-card>
    <mat-card-header fxLayout="row" class="truncate">
      <mat-card-title>
        <span>{{ recipe.name }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutAlign="start start">
      <div class="description">
        <span>{{ recipe.description }}</span>
      </div>
      <img mat-card-image [src]="recipe.imagePath" [alt]="recipe.name" />
    </mat-card-content>
  </mat-card>
</a>
