a {
  text-decoration: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  height: 150px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  height: 120px;
}

.mat-mdc-card-image {
  margin-left: auto;
  margin-right: 0;
  height: 90%;
  width: 30%;
}

.description {
  height: calc(1.5rem * 5);
  overflow: hidden;
  width: 70%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
:host ::ng-deep .mat-card-header-text {
  margin: 0 0 !important;
}

:host ::ng-deep .truncate * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
