@use '~@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$blue-palette);
$light-accent: mat.define-palette(mat.$cyan-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$teal-palette);
$dark-accent: mat.define-palette(mat.$lime-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the light theme by default
@include mat.all-component-themes($light-theme);

// Apply the dark theme only when the `dark` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark {
  @include mat.all-component-colors($dark-theme);
}
