@import "@angular/material/theming";
// @import "./_variables.scss";

@include mat-core();

// Define a light theme
$light-primary: mat-palette($mat-green);
$light-accent: mat-palette($mat-lime);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat-palette($mat-green);
$dark-accent: mat-palette($mat-lime);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the light theme by default
@include angular-material-theme($light-theme);
:root {
  --primary: #{mat-color($light-primary)};
  --accent: #{mat-color($light-accent)};
  --foreground: #{mat-color(map-get($light-theme, foreground), text)};
  --background: #{map-get(map-get($light-theme, background), background)};
  --backdrop: #{"rgba(#{red(mat-color(map-get($light-theme, foreground), text))},#{green(mat-color(map-get($light-theme, foreground), text))},#{blue(mat-color(map-get($light-theme, foreground), text))}, 0.45)"};
}

// Apply the dark theme only when the `dark` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark-theme {
  @include angular-material-color($dark-theme);
  --primary: #{mat-color($dark-primary)};
  --accent: #{mat-color($dark-accent)};
  --foreground: #{mat-color(map-get($dark-theme, foreground), text)};
  --background: #{map-get(map-get($dark-theme, background), background)};
  --backdrop: #{"rgba(#{red(mat-color(map-get($dark-theme, foreground), text))},#{green(mat-color(map-get($dark-theme, foreground), text))},#{blue(mat-color(map-get($dark-theme, foreground), text))}, 0.35)"};
}
