<div fxLayout="row">
  <div fxLayout="column" fxFlexFill>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div fxLayout.lt-md="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex.gt-sm="70">
          <mat-label for="name">Name</mat-label>
          <input matInput type="text" id="name" name="name" ngModel required />
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="30">
          <mat-label for="amount">Amount</mat-label>
          <input
            matInput
            type="number"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!f.valid"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onDelete()"
          *ngIf="editMode"
        >
          Delete
        </button>
        <button
          mat-raised-button
          color="accent"
          type="reset"
          (click)="onClear()"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
